.main-container{
    font-family: 'Heebo', sans-serif;
}

.owners {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.owner-item {
    color: rgb(127, 22, 8);
    
}

.station-list {
    border-bottom: 1px solid black;
    background-color: yellow;
    /* border-color: black; */
    /* border-bottom: black; */
}

.bulletFreeList {
    /* color: chocolate; */
    list-style: none;
}