.main-container{
    font-family: 'Be Vietnam Pro', sans-serif;
}


.owners {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    
   
}
.owner-item {
    margin-right: 35px;
    color: rgb(127, 22, 8);
    
}

.station-list {
    border-bottom: 1px solid black;
    background-color: yellow;
    /* border-color: black; */
    /* border-bottom: black; */
}

.bulletFreeList {
    /* color: chocolate; */
    list-style: none;
}

.spotlight-btn {
    /* background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
    color: blue; */
  }
.tot-stations {
    color: rgb(127, 22, 8);
    font-size: 20px;
    font-weight: 900;
}

.spotlight-name {
    color: rgb(127, 22, 8);
    font-size: 20px;
    font-weight: 900;
}

.current-address {
    color: rgb(127, 22, 8);
    font-size: 12px;
}
.current-lat, .current-long {
    color: rgb(127, 22, 8);
    
}

